# Conditional Statement

* if
* if else
* nested if
* if elif else

In [1]:
if True:
    print('Data science')

Data science

In [2]:
if True:
print('Data science')

IndentationError: expected an indented block after 'if' statement on line 1 (3446002518.py, line 2)

In [ ]:
if True:
 print('Data science')

In [ ]:
if False:
    print('Data science')
print('bye for now')

In [ ]:
if True:
    print('Data science')
print('bye for now')

In [ ]:
if True:
    print('Data science')
else:
    print('Bye for now')

In [ ]:
if False:
    print('Data science')
else:
    print('Bye for now')

In [ ]:
x = 4
r = x % 2
if r == 0:
    print('Even number')

In [ ]:
x = 5
r = x % 2
if r == 0:
    print('Even number')

In [ ]:
x = 5
r = x % 2
if r != 0:
    print('Even number')

In [ ]:
x = 5
r = x % 2
if r != 0:
    print('Odd number')

In [ ]:
x = 7
r = x % 2
if r != 0:
    print('Odd number')

In [ ]:
x = 5
r = x % 2
if r == 0:
    print('Even number')

print('odd number')

In [ ]:
x = 4
r = x % 2
if r == 0:
    print('Even number')

print('Odd number')

In [ ]:
x = 10
r = x % 2
if r == 0:
    print('Even number')

if r == 1:
    print('Odd number')

In [ ]:
x = 9
r = x % 2
if r == 0:
    print('Even number')

if r == 1:
    print('Odd number')

In [ ]:
x = 8
r = x % 2
if r == 0:
    print('Even number')

else:
    print('Odd number')

In [ ]:
x = 9
r = x % 2
if r == 0:
    print('Even number')

else:
    print('Odd number')

In [ ]:
x = 8
r = x % 2
if r != 0:
    print('Even number')

else:
    print('Odd number')

# NESTED IF (if we have 2 condition so we need to implment with nested if )

In [ ]:
x = 3
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
       print('greater number')

else:
    print('odd number')

In [ ]:
x = 4
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
       print('greater number')

else:
    print('odd number')

In [ ]:
x = 4
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
       print('greater number')
    else:
        print('lesser number')

else:
    print('odd number')

In [ ]:
x = 10
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
       print('greater number')
    else:
        print('lesser number')

else:
    print('odd number')

In [ ]:
x = 13
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
       print('greater number')
    else:
        print('lesser number')

else:
    print('odd number')

In [ ]:
x = 1

if x == 1:
    print('one')
if x == 2:
       print('two')
if x == 3:
        print('three')
if x == 4:
    print('four')

In [ ]:
x = 2

if x == 1:
    print('one')
if x == 2:
       print('two')
if x == 3:
        print('three')
if x == 4:
    print('four')

In [ ]:
x = 3

if x == 1:
    print('one')
if x == 2:
       print('two')
if x == 3:
        print('three')
if x == 4:
    print('four')

In [ ]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
       print('two')
elif x == 3:
        print('three')
elif x == 4:
    print('four')

else:
    print('number not found')

# LOOPS

While Loop

# uses when we have condition
# Repeats a pece of code until the condition becomes False

In [ ]:
n=1
while n <= 3:
    print(n)
    n += 1    # n += 1 => (n = n+1)

In [ ]:
i = 1   # initilizing

while i<=5:      # cindition
    print('data science')
    i = i + 1   # increment

In [ ]:
i = 5      # initilizing

while i>=1:    # condition
    print('data science')
    i = i-1   # decrement

In [ ]:
i = 1   # initilizing

while i<=5:      # cindition
    print('data science', i)
    i = i + 1   # increment

In [ ]:
i = 5      # initilizing

while i>=1:    # condition
    print('data science', i)
    i = i-1   # decrement

# Nested While Loop

# is a while loop withn a while loop

In [ ]:
i = 1
while i <=5:
    print('data science')
    j = 1
    while j<=4:
        print('technology')
        j = j+1

    i = i+1
    print()

In [ ]:
i = 1
while i <=5:
    print('data science', end =" ")
    j = 1
    while j<=4:
        print('technology', end =" ")
        j = j+1

    i = i+1
    print()

In [ ]:
i = 1
while i<=2:
    j=0
    while j<=2:
        print(i*j, end=" ")
        j += 1
        print()
        i += 1

In [ ]:
i = 1
while i<=2 :
    j=0
    while j <=2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

In [ ]:
i = 1
while i<=4 :
    j=0
    while j <=3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

In [ ]:
a1=[1,2,3]
a2=[4,5,6]

i = 0
while i < len(a1):
    j = 0
    while j < len(a2):
        print(a1[i], a2[j])
        j += 1
    print()
    i += 1

# While Loop else

# When the whie condition bbecomes False and the loop runs noramally, then the else block will be executed

In [ ]:
i = 10
while i<=4 :
    j=0
    while j <=3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

In [ ]:
i = 10
while i<=4 :
    j=0
    while j <=3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

else:
    print('condition is not match')

In [ ]:
i = 10
while i<=4 :
    j=0
    while j <=3 :
        print(i*j, end=" ")
        j += 1
    else:
        print('number is greater')

    print()
    i += 1

else:
    print('condition is not match')

In [ ]:
i = 10
while i<=4 :
    j=0
    while j <=3 :
        print(i*j, end=" ")
        j += 1

    print()
    i += 1

else:
    print('condition is not match')

 # For Loop

# uses when we have data sequence -> (datatype , datastructure)

In [ ]:
name = 'kodi'

for i in name:
    print(i)

In [ ]:
name1 =[1,2.5,'hello']

for i in name1:
    print(i)

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(10,50,5):
    print(i)

In [ ]:
# print the value which is divisible by 5
for i in range(1,51):
    if i%5==0 :
         print(i)

In [ ]:
# print the value which is not divisible by 5
for i in range(1,51):
    if i%5!=0 :
         print(i)

In [ ]:
# print the value which is divisible by 3
for i in range(1,31):
    if i%3==0 :
         print(i)

# BREAK, CONTINUE , PASS

BREAK -> break the loop based on condition .
CONTINUE -> continue loop skip the condition.
PASS -> pass the bug or error.

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [5]:
for i in range(1,11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

Continue

In [7]:
for i in range(1,11):
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [8]:
for i in range(1,51):

    if i%3 == 0:

        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [9]:
for i in range(1,51):

    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [14]:
for i in range(1,51):

    if i%3 == 0 or i%5 ==0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [19]:
nums = [12,15,17,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [20]:
nums = [12,15,17,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        break
    print(num)

12

In [22]:
nums = [12,15,17,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

15

In [23]:
nums = [12,17,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)

else:
    print('number not found')

number not found

In [24]:
nums = [12,17,21,26,15]

for num in nums:
    if num % 5 == 0:
        print(num)

else:
    print('number not found')

15
number not found

In [25]:
nums = [12,17,21,26,15]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

else:
    print('number not found')

15

In [34]:
x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:
    print('chocolate')
    i += 1

How many chocolates you want:? 9

chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate

In [35]:
x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:
    print('chocolate:',i)
    i += 1

How many chocolates you want:? 10

chocolate: 1
chocolate: 2
chocolate: 3
chocolate: 4
chocolate: 5
chocolate: 6
chocolate: 7
chocolate: 8
chocolate: 9
chocolate: 10

In [33]:
ava = 5    # the mechine has only 5 chocolates

x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:
    print('chocolate')
    i += 1

How many chocolates you want:? 10

chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate

In [32]:
ava = 5    # the mechine has only 5 chocolates

x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:

    if i > ava:
        print('out of stock')
        break
    print('chocolate:', i)
    i += 1

print('bye for now')

How many chocolates you want:? 8

chocolate: 1
chocolate: 2
chocolate: 3
chocolate: 4
chocolate: 5
out of stock
bye for now