# Right Angle Triangle Pattern

In [2]:
for i in range(1,6):
    print(' * ' *i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

# Inverted Right Angle Triangle Pattern

In [4]:
for i in range(5,0,-1):
    print(' * ' *i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

# Pyramid Pattern

In [7]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

# Inverted Pyramid Pattern

In [9]:
for i in range(5,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

# Diamond Pattern

In [21]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range(5,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

# Hallow Square Pattern

In [23]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print('*',end='')
        else:
            print(' ',end='')
    print()

*****
*   *
*   *
*   *
*****

# Full Square Pattern

In [24]:
for i in range(1,6):
    print(' '.join(str(x) for x in range(1, i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Inverted Right Angle Triangle(Number Pattern)

In [25]:
for i in range(5,0,-1):
    print(' '.join(str(x) for x in range(1, i+1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# Floyd's Triangle

In [27]:
num=1
for i in range(1,6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# Hallow Right Angle Triangle

In [33]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
        
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

# Hallow Pyramid Pattern

In [34]:
for i in range(1,6):
    for j in range(5-i):
        print(' ', end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2 or i==5:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

# Hallow Diamond Pattern

In [35]:
n = 5
for i in range(1, n+1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2*i-2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n-1, 0, -1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2*i-2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

# Hallow Diamond (Number Pattern)

In [37]:
n = 5
for i in range(1, n+1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2*i-2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n-1, 0, -1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2*i-2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

# Butterfly Pattern

In [39]:
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    for j in range(2 * (n-i)):
        print(' ', end=' ')
    for j in range(1, i+1):
        print(j, end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    for j in range(2 * (n-i)):
        print(' ', end=' ')
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

In [40]:
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    for j in range(2 * (n-i)):
        print(' ', end=' ')
    for j in range(1, i+1):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    for j in range(2 * (n-i)):
        print(' ', end=' ')
    for j in range(1, i+1):
        print('*', end=' ')
    print()

1                 *
1 2             * *
1 2 3         * * *
1 2 3 4     * * * *
1 2 3 4 5 * * * * *
1 2 3 4 5 * * * * *
1 2 3 4     * * * *
1 2 3         * * *
1 2             * *
1                 *

In [41]:
for i in range(1, n+1):
    for j in range(1, i+1):
        print('*', end=' ')
    for j in range(2 * (n-i)):
        print(' ', end=' ')
    for j in range(i):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(i):
        print('*', end=' ')
    for j in range(2 * (n-i)):
        print(' ', end=' ')
    for j in range(1, i+1):
        print('*', end=' ')
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

# Hallow Number Pyramid

In [46]:
n = 5
for i in range(1, n+1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2 or i==n:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

# Full Star Pyramid

In [80]:
n = 5

for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
        
    for j in range(2 * i - 1):
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# Inverted Full Star Pyramid

In [81]:
n = 5

for i in range(n, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
        
    for j in range(2 * i - 1):
        print('*', end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

# Left Aligned Pyramid Pattern

In [82]:
n = 5

for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [83]:
n = 5

for i in range(1, n + 1):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Right Aligned Pyramid Pattern

In [84]:
n = 5

for i in range(1, n + 1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(1, i+1):
        print(j, end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [85]:
n = 5

for i in range(1, n + 1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(1, i+1):
        print('*', end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [86]:
n = 5

for i in range(1, n + 1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(1, i+1):
        print('$', end=' ')
    print()

        $
      $ $
    $ $ $
  $ $ $ $
$ $ $ $ $